<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div>
        <h4>Yeni Makine Ekle</h4>
    </div>
        <form action="/ekle_post" method="post">
            <div class="form">
                <label for="">Manufacturer</label>
                <input type="text" name="manufacturer">
                <label for="">Model</label>
                <input type="text" name="model">
                <label for="">Year</label>
                <input type="text" name="year">
                <label for="">Impressions</label>
                <input type="text" name="impressions">
                <input type="submit">
            </div>
        </form>
</body>
</html>