<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <a href="/ekle"><div class="ekle_btn">Ekle</div></a>
            <table>
                <tr>
                    <td>ID</td>
                    <td>Manufacturer</td>
                    <td>Model</td>
                    <td>Year</td>
                    <td>Impressions</td>
                </tr>
            {% for tuple in table %}
                <tr>
                        
                        <td>{{ tuple[0] }}</td>
                        <td>{{ tuple[1] }}</td>
                        <td>{{ tuple[2] }}</td>
                        <td>{{ tuple[3] }}</td>
                        <td>{{ tuple[4] }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</body>
</html>